# Dataframes

In this lesson, we will introduce pandas *dataframes*. Dataframes represent tabular, 2-dimensional data, and provide a number of facilities for manipulating and transforming the data.

In [ ]:
import pandas as pd

## An Example Dataframe 

The code below will create a data frame that represents grades for multiple students. We pass a dictionary where the keys will correspond to the names of the columns, and the values associated with those keys will make up the data. We will talk in more detail about different ways to create a dataframe in a coming lesson.

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(123)

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# randomly generate scores for each student for each subject
# note that all the values need to have the same length here
math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades})

type(df)

As we might expect, the dataframe stored in the `df` variable has a type of `DataFrame`.

Dataframes also have a nice, printed representation:

In [ ]:
print(df)

And, if we are within a jupyter notebook (or the Codeup curriculum), we can get a nice html representation of a dataframe:

In [ ]:
df

## Summarizing Dataframes

The `.info` prints out some useful information about the dataframe:

The `.describe` method gives a quick summary of the numerical values in a dataframe.

## Dataframe Attributes

Dataframes have several attributes that are important to be familiar with:

- `dtypes`: the data type of each column
- `shape`: the number of rows and columns in the dataframe
- `columns`: the list of column names
- `index`: the labels for each row (usually an autogenerated number)

The `.columns` attribute can be assigned to in order to change the name of the columns in the data frame. For example, if we wanted to uppercase every column name, we could do so like this:

In [ ]:
df.columns = [col.upper() for col in df.columns]

In [ ]:
df

For now, we'll reset the column names back to what they used to be.

In [ ]:
df.columns = [col.lower() for col in df.columns]

## Subsetting Dataframes

There are a number of ways we can access certain subsets, i.e. either a restricted number of rows, columns, or both, of our dataframes.

### Accessing Individual Columns

Each column in a dataframe is a `Series` that we discussed in the previous lesson. These values can be accessed in one of two ways:

In [ ]:
# using . notation
df.math

In [ ]:
# using square brackets

In general, the first way is preferred, but the second way is required if the name of the column is not a valid python identifier.

### Accessing Multiple Columns

We can see multiple columns in the dataframe by subsetting the dataframe with a list of strings. The following two code samples are functionally equivalent.

In [ ]:
df[['name', 'math']]

In [ ]:
columns = ['name', 'math']
df[columns]

### Creating new Columns

### Accessing Row Subsets

Pandas provides several convenience methods for quickly looking at several rows in a dataframe:

- `.head`: for the first n (default 5) rows
- `.tail`: for the last n (default 5) rows
- `.sample`: for a random sample of rows

Like numpy arrays and pandas `Series`, pandas dataframes can also be indexed into with a boolean series.

For example, suppose we wanted to find the observations in our dataframe where the math grade is below an 80. We know that we can produce a boolean series of values using a vectorized comparison operation:

In [ ]:
df.math < 80

We can then use that series to index into our dataframe to find the entire row where our condition is true:

In [ ]:
df[df.math < 80]

## Dropping and Renaming Columns

We can drop columns with the `.drop` method, and, similarly, rename them with `.rename`.

For both methods (and many other methods within pandas), the original dataframe **will not be changed**. Instead, the methods will produce a new dataframe. This is similar to the behavior we have seen with, for example, string methods. The exception to this is that most pandas methods will accept an optional keyword argument of `inplace` (defaults to `False`) to determine whether to mutate the original value.

Let's take a look at a couple of examples of `.drop` and `.rename`:

In [ ]:
# drop english and reading

In [ ]:
# rename 'name' column to 'student'

We will use the `columns` keyword argument with both `.drop` and `.rename`. We'll pass a list of column names we want to remove to `.drop`, and a dictionary of columns to rename to `.rename`. Within the passed dictionary, the keys will be the old column names, and the values are the new column names.

Notice that, after both of these operations, the original variable is unchanged.

In [ ]:
df

Because these methods each return a dataframe, we can *chain* them together:

In [ ]:
df.drop(columns=['english', 'reading']).rename(columns={'name': 'student'})

## Sorting Dataframes

We can use the `.sort_values` method to sort a dataframe by any given criteria. For example, we can sort by the english grade:

In [ ]:
df.sort_values(by='english')

We can sort in descending order by providing the a keyword arugment

In [ ]:
df.sort_values(by='english', ascending=False)

## Chaining Dataframe Methods

Because most dataframe methods return another dataframe, it is common to see them *chained* together.

For example, we could use method chaining to find the name of the student with the *lowest* english grade above a 90.

In [ ]:
df[df.english > 90].sort_values(by='english').head(1).name

Let's break down the above expression piece by piece:

1. `df`: our initial variable that holds our dataframe
1. `[df.english > 90]`: here we subset the datframe to find just the rows where the english grade is greater than 90
1. `.sort_values(by='english')`: now we take the remaining rows and sort them by the english grade
1. `.head(1)`: take just the first record. Because we sorted previously, this will give us the student with lowest english grade
1. `.name`: extract just the `name` part of the record

## Further Reading

- [pandas documentation: `DataFrame`s](https://pandas.pydata.org/pandas-docs/stable/getting_started/dsintro.html#dataframe)

## Exercises

Do your work for this exercise in a python script or a jupyter notebook with the name `dataframes.py` or `dataframes.ipynb`.

For several of the following exercises, you'll need to load several datasets using the `pydataset` library. (If you get an error when trying to run the import below, use `pip` to install the `pydataset` package.)

In [ ]:
from pydataset import data

When the instructions say to load a dataset, you can pass the name of the dataset as a string to the `data` function to load the dataset. You can also view the documentation for the data set by passing the `show_doc` keyword argument.

In [ ]:
# data('mpg', show_doc=True) # view the documentation for the dataset
mpg = data('mpg') # load the dataset and store it in a variable

All the datasets loaded from the `pydataset` library will be pandas dataframes.

1. Copy the code from the lesson to create a dataframe full of student grades.

    1. Create a column named `passing_english` that indicates whether each student has a passing grade in english.
    1. Sort the english grades by the `passing_english` column. How are duplicates handled?
    1. Sort the english grades first by `passing_english` and then by student name. All the students that are failing english should be first, and within the students that are failing english they should be ordered alphabetically. The same should be true for the students passing english. (Hint: you can pass a list to the `.sort_values` method)
    1. Sort the english grades first by `passing_english`, and then by the actual english grade, similar to how we did in the last step.
    1. Calculate each students overall grade and add it as a column on the dataframe. The overall grade is the average of the math, english, and reading grades.

1.  Load the `mpg` dataset. Read the documentation for the dataset and use it for the following questions:

    - How many rows and columns are there?
    - What are the data types of each column?
    - Summarize the dataframe with `.info` and `.describe`
    - Rename the `cty` column to `city`.
    - Rename the `hwy` column to `highway`.
    - Do any cars have better city mileage than highway mileage?
    - Create a column named `mileage_difference` this column should contain the difference between highway and city mileage for each car.
    - Which car (or cars) has the highest mileage difference?
    - Which compact class car has the lowest highway mileage? The best?
    - Create a column named `average_mileage` that is the mean of the city and highway mileage.
    - Which dodge car has the best average mileage? The worst?

1. Load the `Mammals` dataset. Read the documentation for it, and use the data to answer these questions:

    - How many rows and columns are there?
    - What are the data types?
    - Summarize the dataframe with `.info` and `.describe`
    - What is the the weight of the fastest animal?
    - What is the overal percentage of specials?
    - How many animals are hoppers that are above the median speed? What percentage is this?
    
    
### ** Awesome Bonus **
For much more practice with pandas, Go to `https://github.com/guipsamora/pandas_exercises` and clone the repo down to your laptop. To clone a repository:
- Copy the SSH address of the repository
- `cd ~/codeup-data-science`
- Then type `git clone git@github.com:guipsamora/pandas_exercises.git`
- Now do `cd pandas_exercises` on your terminal.
- Type `git remote remove origin`, so you won't accidentally try to push your work to guipsamora's repo.

Congratulations! You have cloned guipsamora's pandas exercises to your computer. Now you need to make a new, blank, repository on GitHub.

- Go to `https://github.com/new` to make a new repo. Name it `pandas_exercises`.
- DO NOT check any check boxes. We need a blank, empty repo.
- Finally, follow the directions to "push an existing repository from the command line" so that you can push up your changes to your own account. 
- Now do your own work, add it, commit it, and push it!